.main-chat__message-list__data{data: {message: {id: message.id}}}
    
  .main-chat__message-list__data__info

    %p.main-chat__message-list__data__info__name
      = message.user.name
    %p.main-chat__message-list__data__info__date
      = message.created_at.to_s(:japan)

  %p.main-chat__message-list__data__text
    = message.body

  = image_tag message.image.url, class: 'main-chat__message-list__data__image' if message.image.present?

