* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  
  a{text-decoration: none;
    cursor: pointer;
  }

  img{
    max-width: 200px;
    height: 135px;
  }

}

.side-bar{
  height: 100vh;
  a {
    color: $white;
  }

  &__user-name{
    height: 100px;
    background-color: #253141;
    font-size: 16px;
    display: flex;
    align-items: center;
    font-weight: bold;

    &__top-items{
      
      @include wid_hei(260px,20px);
      @include flex_just(space-between);
      margin: auto 20px;
      color: $white;
      align-items: center;

      &__user-list{
        @include flex_just(flex-end);
        width: 60px;
        list-style: none;
        
        li {
          margin-left: 5px;
          font-size: 0.9rem;
        }

      }
    }
  }



    &__groups{
      @include wid_hei(300px,calc(100vh - 100px));
      background-color: #2f3e51;
      padding: 20px 20px 0;


      &__group{

        margin-bottom: 40px;

        &__group-name{
          
          font-size: 15px;
          margin-bottom: 5px;
        }

        &__message{
          
          font-size: 11px;
        }

      }
    }

}

.main-chat{
  width: calc(100vw - 300px);
  background-color: $white;

  &__group-info{
    
    @include flex_just(space-between);
    height: 100px;
    padding: 0px 40px;
    border-bottom: solid 1px #eeeeee;
    overflow: scroll;

    &__left{
    
    margin-top: 35px;

      &__group{
        
        font-size: 20px;
        margin-bottom: 15px;
        
      }

      &__member{

        color: $gray;
        font-size: 12px;
        display: flex;

        &__list{
          
          margin-left: 4.8px;
          
        }

      }
    }

    &__edit{
      height: 40px;
      border: solid 1px $light_blue;
      font-size: 16px;
      color: $light_blue;
      padding: 0 20px;
      margin-top: 30px;
      line-height: 40px;
    }

  }

  &__message-list{
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    padding: 46px 40px;
    overflow: scroll;

    &__data{

      padding-bottom: 40px;

      &__info{
        margin-bottom: 10px;
        display: flex;

        &__name{
          
          font-size: 16px;
          color: $black;
          font-weight: bold;
        }

        &__date{
          
          color: $gray;
          font-size: 12px;
          margin-left: 10px;
        }

      }

      &__text{
        
        color: $black;
        font-size: 14px;
        margin-bottom: 10px;
      }

    }
  }

  &__message-form{
    
    height: 90px;
    padding: 20px 40px;
    background-color: #ddd;

    &__parts{
      display: flex;

      &__new{
        
        width: 100%;
        position: relative;

        &__input{
          
          @include wid_hei(100%,50px);
          padding: 0 40px 0 10px;
          color: $black;
          border-style: none;
          
        }

        &__label{
          position: absolute;
          right: 10px;
          top: 10px;
          font-size: 1.5rem;
          cursor: pointer;
          
          &__file{
            display: none;
            
          }

        }
      }

      &__send{
        
        @include wid_hei(100px,50px);
        padding: 0 30px;
        margin-left: 15px;
        background-color: $light_blue;
        color: $white;
        cursor: pointer;

      }

    }

  }

}